<div class="card-column-fluid mt-3">
    <div class="card col-sm-4 login-body">
        <div class="card-header">
            <h4>Log in to your account</h4>
        </div>
        <div class="card-body">
            <form action="/auth/login" method="POST" class="m-3">
                <input class="w-70" placeholder="Email" id="auth-email" type="email" name="email" required>
            </div>
            <div class="card-body">
                <input class="w-70" placeholder="Password" id="auth-password" type="password" name="password" required>
            </div>
            <div class="card-body">
                <button class="btn6" type="submit" value="Log In" >Log In</button>
            </form>
            </div>
    </div>
</div>



<img src="/assets/images/Tyson.png" alt="">
  