
<div class="card-column-fluid mt-4 mb-5">
    <div class="card col-sm-2 signup-body">
        <div class="card-header">
            <h3>Create an account</h3>
        </div>
        <div class="card-body">
            <form action="/auth/signup" method="POST">
                <input id="new-name" type="text" name="name" placeholder="Your Name" required>
            </div>
            <div class="card-body">
                <input id="new-email" type="email" name="email" placeholder="Your Email" required>
            </div>
            <div class="card-body">
                <input id="new-password" type="password" name="password" placeholder=" Desired Password" required>
            </div>
            <div class="card-body">
                <button class="btn2" type="submit" value="Sign up">Sign Up</button>
            </div>
        </form>
        
    </div>
</div>

<img class="mb-3 mt-2 adopt-img" src="/assets/images/adoptionFee.jpeg" alt="">
