
<img src="assets/images/adoptions33.png" id="MainIMG" class="img-fluid head-img" alt=""> 
 
<div class="container index-container">
    <form method="POST" action="/search/results" id="pet-form" class="m-3">
      <div class="form-group">
        <select id="animal" name="animal" class="form-control form-control-lg mt-3 border border-dark">
          <option value="Dog">Dog</option>
          <option value="Cat">Cat</option>
          <option value="Bird">Bird</option>
          <option value="Horse">Horse</option>
        </select>
      <input type="text" id="zip" class="form-control form-control-lg mt-2 border border-dark" name="Zipcode"
      placeholder="Enter Your Zipcode">
      <input type="submit" value="Find Available Pets!" class="btn btn-danger btn-lg btn-block mt-3 border border-dark">
      </div>
    </form>
    <div id="results"></div>
  </div>

  <div class="created-by mt-5">
<p>Powered by PetFinder</p>
<p>Created by Calvin Moldenhauer</p>
  </div>

  <!-- <img src="/assets/images/dogsCutOut.png" id="MainIMG" class="img-fluid" alt="">  -->