<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <!-- <img src="/Pics/Document.jpeg" alt="Adoption"> -->
    </header>
    <%- include('partials/alerts') %>
<div>
  <img src="assets/images/adoptions33.png" id="MainIMG" class="img-fluid" alt=""> 
    <% if (!currentUser) {%>
      <a href="/" class="btn btn-lg btn-dark btn-block mt-2 m-3">Home</a>
      <a href="/auth/login" class="btn btn-primary btn-lg btn-block mt-2 m-3">Login</a>
        <a href="/auth/signup" class="btn btn-warning btn-lg btn-block mt-2 m-3">Signup</a>
     <% } else { %>
      <a href="/" class="btn btn-dark btn-lg btn-block mt-2 m-3">Home</a>
      <a href="/profile" class="btn btn-primary btn-lg btn-block mt-2 m-3">Profile</a>
        <a href="/auth/logout" class="btn btn-danger btn-lg btn-block mt-2 m-3">Logout</a>
    <% } %>
  </div>
    <%- body %> 
		<!-- <script src='script.js'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
