<h2>Logged In</h2>

<h3><%= name %>'s profile page </h3>
<a class="btn btn-warning m-3 border-danger" href="profile/edit">Edit profile</a>
<a class="btn m-3 border-dark btn-success" href="search">Favorites</a>

<p>Name: <%= name %></p>
<p>Email Address: <%= email %></p>
<p>Id: <%= id %></p>