
<div class="card-column-fluid mt-5">
    <div class="card col-lg-2 profile-container">
        <div class="card-header profile-text">
            <h2 class="profile-text">Logged into</h2>
            <h3 class="profile-text"><%= name %>'s profile </h3>
        </div>
        <div class="card-body profile-body">
            <p>Name: <%= name %></p>
            <p>Email Address: <%= email %></p>
            <p>Id: <%= id %></p>
            <a class="btn m-3 btn5" href="profile/edit">Edit profile</a>
            <a class="btn m-3 btn4" href="search/favorites">Favorites</a>
        </div>
    </div>
    <div class="aboutUs">
        <p>Greetings and welcome to Pet Adoption! This platform provides you with an opportunity to make a positive impact on the lives of animals in need, as well as your own. Now that you've created your profile, you have gained access to search and view animals located in both local and non-local shelters via zipcode. Additionally, you can easily save animals to your favorites list and send adoption inquiries, making the process of finding your perfect pet both convenient and efficient.</p>
    </div>
</div>


