<% let each = 1; %> 
<% animals.forEach(animal => { %>
    <h2><%= each %> </h2>
    <p> id: <%= animal.id %> </p>
    <p> Name: <%= animal.name %> </p>
<p>Age: <%= animal.age %> </p>
<% each++ %> 
<% }) %> 
<h1>Results</h1>