nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: rgb(202, 19, 19);
background-color: rgb(0, 0, 0, .8);
}

body {
  background-image: url(/assets/images/wallpaper.jpg);
  /* background-color: lightgrey; */
  text-align: center;
}

img {
  width: 50%;
  height: 50%;
}

.index-container{
  max-width: 400px;

}

#images{
  border:5px solid black;
  max-width: 300px;
  max-height: 300px;
}

#SmallImages{
  border:5px solid black;
  max-width: 300px;
  max-height: 500px;
}
#SmallImagesDiv{
  text-align: center;
}

