

<div class="container">
    <div class="row justify-content-center">
        <h4> Send the shelter an inquiry about <%= animal.name %>! </h4>
        <div class="col-4">
            <form action="https://formsubmit.co/Calvickauer@Gmail.com" method="POST" >
           <input name="name" class="m-1" type="text"id="" placeholder=" Your Name">
           <input name="email"  class="m-1" type="text" placeholder=" Your Email" id="Email">
           <input name="subject"  class="m-1" value=<%=animal.name%> hidden>
         <textarea name="text" id="contact" cols="20" rows="4" class="m-1"></textarea>
        </div>
    </div>
           <button type="submit" class="m-2 btn-primary">Contact</button>
           
        </form>
  </div>

  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script>
    function sendEmail(){
        Email.send({
            Host : "smtp.gmail.com",
            Username : "petfindersubmit@gmail.com",
            Password : "Lunchlady123",
            To : "calvickauer@gmail.com",
            From : document.getElementById("Email").value,
            Subject : "Pet Inquiry",
            Body : "This is the body of the Inquiry"
        }).then(
            message => alert(message)
        );
    }
  </script>